@import "tailwindcss";

/* 🌈 Global Theme Colors */
:root {
  --background: #f5f9ff;      /* light bluish white */
  --foreground: #1f2937;      /* dark gray text */

  --primary: #2563eb;         /* blue buttons */
  --secondary: #22c55e;       /* green accent */
  --card-bg: #ffffff;        /* white cards */
  --border: #e5e7eb;
}

/* 🌙 Dark mode (optional, baad me use karna ho) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e5e7eb;
    --card-bg: #020617;
    --border: #1e293b;
  }
}


/* 🌍 Apply to whole website */
body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(
    110deg,
    #6b4a2d 0%,     /* warm brown (trust) */
    #b08968 0%,    /* soft coffee */
    #e6ccb2 5%,    /* beige */
    #f5ebe0 50%    /* light cream */
  );

  /* color: #ffffff; */
  color: #1f2937;

}









/* 🧱 Common Card Style */
/* .card {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
} */

/* 🔘 Buttons */
/* .btn-primary {
  background-color: var(--primary);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
}

.btn-secondary {
  background-color: var(--secondary);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
} */
